#tick{
    background-color: red;
    border-radius:50%;
    margin-right:10px;
}
#submit{
    background-color:rgb(6, 6, 90);
    color:white;
    border-radius:4px;
    transition:background-color .5s;
}
#submit:hover{
    background-color: white;
    color:rgb(7, 7, 94)
}
#button{
    color:white;
}
#input, #submit{
    height:50px;
}
*{
    color:rgb(6, 6, 90)
}
#main{
    display:flex;
}
img{
    height:80vh;
    border-radius:10px;
}
#main{
    padding:20px;
    border-radius:9px;
    border:1px solid gray;
    width: 55%;
    margin-inline:auto;
}
label{
    font-weight: bold;;
}